.card-main{
    height: auto;
    width: 20vw;
    /* overflow-y: scroll; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-row{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;

}
.card-img-top{
    height: 10vh;
     width: 10vw;
   
}
.card-img-top:hover{
    cursor: pointer;
    width: 15vw;
    height: 15vh;
    transition: 1s;
    
}
.cartdes{
    text-align: center;
    font-size: .8vw;
    width: 10vw;
    overflow-x: hidden;
    overflow-y: hidden;
}
.card-title{
    font-size: 1vw;
}
/* .login-page{
    display: none;
} */
.price-tag{
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.quantity{
    /* border: 1px solid black; */
    align-items: center;
}
.quantity-part{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
p{
    margin: 0;
}
.plus-quantity,.minus-quantity{
    background-color: #29a5e3;
    border: none;
    /* border-radius: 50%; */
    padding: 5px;
    box-shadow: 2px 2px 8px gray;
}
.total{
    display: flex;
    justify-content: flex-end;
    padding-right: 10vw;
    padding: 2vh;
}
.cttotal{
    box-shadow: 3px 3px 10px black;
    border: none;
    padding: 10px;
    background-color: #FFE53B;
background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);


}